body {
  font-size: 13px;
  font-family: 'Roboto';
  background: url(/images/casey-horner-339855.jpg) no-repeat center center fixed;
  background: #9fc5b4 url('http://stage.cerescoin.io/images/CeresLogoblockchain_BR.png') bottom right no-repeat fixed;
  -webkit-background-size: auto 63%;
     -moz-background-size: auto 63%;
       -o-background-size: auto 63%;
          background-size: auto 63%;
          background-size: auto 63%;
  color: #1d4535;
}
.top-margin {
  margin-top: 70px;
}
.login-page {
  background: #ffffff;
  padding: 20px;
  border-radius: 0px 0px 4px 4px;
  opacity: 0.95;
}
.login-page-header {
  background: #f3f3f3;
  padding: 10px;
  border-radius: 4px 4px 0px 0px;
  text-align: center;
  border-bottom: 1px solid #dadada;
  font-weight: 600;
  color: #5c6267;
  opacity: 0.95;
}
.align-center {
  text-align: center;
}
.decent-margin-top {
  margin-top: 30px;
}
.decent-margin {
  margin-top: 20px;
  margin-bottom: 20px;
}

.center-block-e {
  float: none;
  margin: 0 auto;
}
.login-alert-area {
  background: #ffffff;
  padding: 10px;
  margin: 10px;
}
.social-icon {
  padding-right: 10px;
  border-right: 1px solid #eeeeee;
  margin-right: 5px;
}
.white-form-bg {
  background: #ffffff !important;
}
.align-center {
  text-align: center;
}

/* new */
.login-form {
  border-radius: 8px;
  background: #ffffff;
  min-height: 450px;
  margin-top: 50px;
  box-shadow: 0 2px 44px 0 rgba(0, 0, 0, 0.3);
}
#login_form a {
  color: #153327;
  font-size: 14px;
}
.login-form-inner {
  padding: 30px 30px 0px 30px;
}
.login-form-bottom {
  padding: 1px 30px 10px 30px !important;
  background: #f0f2f2;
  border-radius: 0px 0px 8px 8px;
}
.login-form h2 {
  margin-top: 0px;
}
.login-welcome {
  font-size: 34px;
  color: #ffffff;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
}
.login-form-intro {
  font-size: 14px;
  text-align: center;
  color: #7c7c7c;
}
.login-form-area {
  width: 100%;
  /* margin-top: 30px; */
  margin-bottom: 30px;
  overflow: auto;
  position: relative;
}
.btn-flat-login {
  background: #1d4535;
  color: #ffffff;
}
.btn-flat-login:hover {
  background: #738f84;
  color: #ffffff;
}
.login-icon-color {
  color: #a0a0a0;
}
.btn-flat-social {
  background: #f0f0f0;
  color: #000000 !important;
}
.btn-flat-social-twitter {
  background: #20a5e2;
  color: #ffffff !important;
}
.btn-flat-social-facebook {
  background: #3859a2;
  color: #ffffff !important;
}
.btn-flat-social-google {
  background: #e33500;
  color: #ffffff !important;
}
.small-text {
  font-size: 11px;
}
.login-footer {
  color: #ffffff;
  position: fixed;
  bottom: 20px;
  width: 100%;
}

.has-feedback .form-control-feedback {
  top: 0px;
  left: 0;
}
.form-horizontal .has-feedback .form-control-feedback {
  top: 0;
  left: 0px;
}
.form-group.login-form-area.has-feedback input {
  padding-left: 30px;
}



